.mainContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50%;
    background: linear-gradient(90deg, #649bc5 0%, #3c94dc 50%, #1e579993 100%);
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mainCreatePage{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-height : fit-content;    
    width: min(1000px,96%);
    background: linear-gradient(90deg, #649bc5 0%, #9fbdd5 50%, #649bc5 100%);
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    align-items: center;
}


@media screen and (max-width: 1268px) {
    .mainContainer {
        width: 80%;
    }

}
@media screen and (max-width: 768px) {
    .mainContainer {
        width: 100%;
        height: 80vh;
    }
    
}