.body {
  background: linear-gradient(90deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* .mainContainer {
  display: flex;
  flex-direction: column;
   justify-content: center; 
   align-items: center; 
  height: 600px;
  width: 60%;
  background: linear-gradient(90deg, #649bc5 0%, #3c94dc 50%, #1e579993 100%);
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */