.title {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.textInputForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.textFieldWide{
    width: 100%;
    /* height: 100px; */
}
.textFieldSlim{
    width: 150px;
}


.formSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    gap:20px;   
    justify-content: center; 
}
.checkboxContainer {
    display: flex   ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    width:80%;
    /* background-color: white; */
}

.text{
    margin-top:30px;
    color: white
}
.checkbox{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.dividingLine{    
    color: white;   
}