.mainCurrentPage{
    min-height: 80vh;
    max-height : fit-content;
    width: min(1000px,96%);
    background: linear-gradient(90deg, #649bc5 0%, #9fbdd5 50%, #649bc5 100%);
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    display: flex;
    flex-direction: row;    
    align-items: center;
    color:white;
    text-shadow: 1px 1px 2px #000000;
}

.tripsBasicInfoContainer {
    /* float: left; */
    width: 30%;  
    height: 70vh;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.367);
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tripsBasicInfo {
    background-color: rgba(240, 248, 255, 0.367);
    padding: 10px;
    border-radius: 10px;
}

.tripsBasicInfo:hover {
    background-color: rgba(240, 248, 255, 0.5);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

.tripsInDepthInfoContainer {
    width: 60%;    
    height: 70vh;
    padding: 10px;
    margin: auto;
    border-radius: 10px;    
    /* background-color: rgba(240, 248, 255, 0.645); */
    gap:10px;
    display: flex;
    flex-direction: column;
    
   
}

.inDepthTripInfo{
    background-color: rgba(240, 248, 255, 0.367);
    padding: 10px;
    border-radius: 10px;
    color:black;
    text-shadow: 0px 0px 4px #f1eded;
    box-shadow: 0px 0px 2px#1e273269;
}


@media screen and (max-width: 800px) {
    .mainCurrentPage {
        flex-direction: column;
    }

    .tripsBasicInfoContainer {
        width: 90%;
        height: fit-content;       
    }

    .tripsInDepthInfoContainer {
        width: 90%;               
        height: fit-content;
    }
    
}