.tripsBasicInfoContainer {
    /* float: left; */
    width: 30%;
    margin-left: 20px; 
    height: 70vh;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.367);
}

.tripsInDepthInfoContainer {
   
    width: 60%;
    margin-left: 20px;
    height: 70vh;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.367);
}

